@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:  white;
    background-image: url("image/school_zone.png");
    background-size: cover;
}

.nav {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.nav-left {
    text-align: center;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    padding: 10px 30px 0 30px;
}

.nav-left h1 {
    color: #ff8c00;
    background: -webkit-linear-gradient(60deg,  rgb(230, 6, 50), rgb(255, 0, 128), rgb(255, 140, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.nav-right {
    justify-content: space-between;
 
}

.nav-right ul {
    display: flex;
    list-style: none;
    font-size: 25px;
    padding: 20px 30px 0 30px;

}

.nav-right ul li {
    font-family: 'Merienda', cursive;
    margin: 10px 30px 5px 30px;
}

.nav-right ul li a {
    text-decoration: none;
    color: azure;

}

.nav-right ul li .home {
    padding: 2px 5px;
    border-radius: 7px;
}

.nav-right ul li .about {
    padding: 2px 5px;
    border-radius: 7px;
}

.nav-right ul li .works {
    padding: 2px 5px;
    border-radius: 7px;
}

.nav-right ul li .home:hover {
    background-color: rgba(230, 6, 50, 0.8);
    transition: 0.5s;
}

.nav-right ul li .about:hover {
    background-color: rgba(255, 0, 128, 0.8);
    transition: 0.5s;
}

.nav-right ul li .works:hover {
    background-color: rgba(255, 140, 0, 0.8);
    transition: 0.5s;
}

.top-wrapper {
    width: 100%;
    flex-direction: column;
}

.top-wrapper .contents {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    flex-direction: column;
}

.top-wrapper .contents .title {
    margin: 90px 30px 0px 30px;
    justify-content: center;
    position: absolute;
}

.top-wrapper .contents .title .title-img {
}

.top-wrapper .contents .chara {
    display: flex;
}

.top-wrapper .contents .chara .chara-img {
    margin-left: 300px;
    margin-top: 50px;
    position: relative;

}

.top-wrapper .contents .chara .chara-img  img{
    cursor: pointer;
}


.top-wrapper .contents .chara .chara-txt {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 250px;
    right: 0;
    left: 650px;
    bottom: 0;
    vertical-align: middle;
    color: white;
    font-family: '游明朝', cursive;
    background-color: rgba(0, 0, 0, 0.3);
}

.top-wrapper .contents .chara .chara-txt h1 {
    border-bottom: 3px ridge white;
    font-size: 24px;
}

.top-wrapper .contents .chara .chara-txt p {
    font-size: 20px;
}

img.efect {
    position: absolute;
    left: 0px;
    opacity: 0;
}

img.normal {
    position: absolute;
    opacity: 1;
}

img.normal:hover {
    opacity: 0;
    
}

img.efect:hover{
    opacity: 1;
}



/*.top-wrapper .contents .chara .chara-img img a{
    display: inline-block;
}







